.fi-ta-filters-above-content-ctn {
    background-color: rgb(248 250 252);
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    border-bottom: 2px solid rgb(226 232 240) !important;
}

:is(.dark .fi-ta-filters-above-content-ctn) {
    background-color: rgba(255, 255, 255, 0.03);
    border-bottom-color: rgba(255, 255, 255, 0.15) !important;
}
